<!doctype html>
<html>
  <head>
    <title>Saved Changes</title>
  </head>
  <body>
    <h2>Changes have been saved.</h2><br>
    <form action="/people">
      <input type="submit" value="Back">
    </form>
  </body>
</html>